In [3]:
import pandas as pd
import numpy as np
import itertools
import pathlib

In [2]:
df = pd.read_csv('Matrices OD/MatrizOD_2303.csv')
df.head()

,"(origen,destino)",900002,900003,900004,900005,900006,900007,900008,900009,900010,...,150057,150058,150060,150070,150081,150099,150104,150109,150121,150122
0,900002,3805,209,109,615,45,0,0.0,0.0,95,...,48,0,0.0,0.0,40.0,0.0,249,0.0,188.0,86
1,900003,209,16547,21,722,355,1705,879.0,124.0,1187,...,0,1170,0.0,132.0,0.0,402.0,212,302.0,0.0,0
2,900004,109,21,6923,38,0,152,0.0,0.0,1078,...,0,0,0.0,0.0,0.0,0.0,91,0.0,0.0,0
3,900005,599,758,38,19063,0,79,0.0,0.0,81,...,0,2362,0.0,0.0,0.0,0.0,4084,123.0,0.0,0
4,900006,0,293,0,0,843,477,0.0,0.0,0,...,0,566,0.0,0.0,0.0,0.0,0,0.0,106.0,92

In [3]:
df = df.fillna(0)

In [4]:
df.to_csv('MatrizOD_2303(1).csv', encoding='utf-8', index=False)

In [5]:
df.head()

,"(origen,destino)",900002,900003,900004,900005,900006,900007,900008,900009,900010,...,150057,150058,150060,150070,150081,150099,150104,150109,150121,150122
0,900002,3805,209,109,615,45,0,0.0,0.0,95,...,48,0,0.0,0.0,40.0,0.0,249,0.0,188.0,86
1,900003,209,16547,21,722,355,1705,879.0,124.0,1187,...,0,1170,0.0,132.0,0.0,402.0,212,302.0,0.0,0
2,900004,109,21,6923,38,0,152,0.0,0.0,1078,...,0,0,0.0,0.0,0.0,0.0,91,0.0,0.0,0
3,900005,599,758,38,19063,0,79,0.0,0.0,81,...,0,2362,0.0,0.0,0.0,0.0,4084,123.0,0.0,0
4,900006,0,293,0,0,843,477,0.0,0.0,0,...,0,566,0.0,0.0,0.0,0.0,0,0.0,106.0,92

In [6]:
tabla = pd.read_csv('Matrices OD/MatrizOD_Fase1.csv')
tabla.head()

,"(origen,destino)",900002,900003,900004,900005,900006,900007,900008,900009,900010,...,150057,150058,150060,150070,150081,150099,150104,150109,150121,150122
0,900002,422158.9305,27359.30350,8696.5615,1.232085e+05,7383.71320,31359.69880,1698.69660,NaN,28150.8070,...,47271.20620,21355.37500,9826.29485,5304.5656,11365.00940,1385.65740,71293.88105,31492.41625,20112.69175,4982.07165
1,900003,26272.1765,796547.72170,11713.1477,6.030841e+04,35503.22680,233116.05210,45476.74830,16701.8232,108087.7508,...,17578.77265,50957.76845,2371.66420,7894.8840,11264.18890,5033.07780,12151.11610,9774.12670,3941.33265,8303.17710
2,900004,8164.6768,11175.57170,268479.9135,1.165010e+04,5816.03925,12943.60605,3083.76000,894.9546,89115.5086,...,15504.90090,7413.63150,308.92590,2756.7573,1181.90310,446.88000,5190.26170,2800.12510,1607.73110,3694.87110
3,900005,122847.7380,62760.61935,11221.9296,1.497179e+06,27142.09430,61482.69710,2993.08785,765.5334,32297.6826,...,27039.80800,111986.09900,6279.54150,6272.3049,30611.30775,5895.85595,118358.34070,23788.39675,20041.00160,9658.60640
4,900006,7733.8263,35484.69355,5884.4778,2.637081e+04,323553.39920,180490.48640,1686.79395,135.3285,20981.7465,...,6971.73480,68089.67710,774.66690,8619.9459,4412.46690,1131.16320,4056.98290,3721.07535,3571.88935,8022.49720

In [7]:
tabla = tabla.fillna(0)

In [8]:
tabla.to_csv('MatrizOD_Fase1(1).csv', encoding='utf-8', index=False)

In [9]:
tabla.head()

,"(origen,destino)",900002,900003,900004,900005,900006,900007,900008,900009,900010,...,150057,150058,150060,150070,150081,150099,150104,150109,150121,150122
0,900002,422158.9305,27359.30350,8696.5615,1.232085e+05,7383.71320,31359.69880,1698.69660,0.0000,28150.8070,...,47271.20620,21355.37500,9826.29485,5304.5656,11365.00940,1385.65740,71293.88105,31492.41625,20112.69175,4982.07165
1,900003,26272.1765,796547.72170,11713.1477,6.030841e+04,35503.22680,233116.05210,45476.74830,16701.8232,108087.7508,...,17578.77265,50957.76845,2371.66420,7894.8840,11264.18890,5033.07780,12151.11610,9774.12670,3941.33265,8303.17710
2,900004,8164.6768,11175.57170,268479.9135,1.165010e+04,5816.03925,12943.60605,3083.76000,894.9546,89115.5086,...,15504.90090,7413.63150,308.92590,2756.7573,1181.90310,446.88000,5190.26170,2800.12510,1607.73110,3694.87110
3,900005,122847.7380,62760.61935,11221.9296,1.497179e+06,27142.09430,61482.69710,2993.08785,765.5334,32297.6826,...,27039.80800,111986.09900,6279.54150,6272.3049,30611.30775,5895.85595,118358.34070,23788.39675,20041.00160,9658.60640
4,900006,7733.8263,35484.69355,5884.4778,2.637081e+04,323553.39920,180490.48640,1686.79395,135.3285,20981.7465,...,6971.73480,68089.67710,774.66690,8619.9459,4412.46690,1131.16320,4056.98290,3721.07535,3571.88935,8022.49720

In [10]:
tabla1 = pd.read_csv('Data/Incidencia_casos.csv')
tabla1.head()

,Fecha\ Clave,150020,150024,150025,150031,150033,150037,150039,150057,150058,...,900010,900011,900012,900013,900014,900015,900016,900017,900106,900999
0,27-feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,28-feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,29-feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02-mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
tabla1 = tabla1.fillna(0)

In [12]:
tabla1.to_csv('Incidencia_casos1.csv', encoding='utf-8', index=False)

In [19]:
claves = pd.read_csv("claves.csv")
claves.head()

    Clave            Estado   Delegación/Municipio
0  900002  Ciudad de México           AZCAPOTZALCO
1  900003  Ciudad de México               COYOACAN
2  900004  Ciudad de México  CUAJIMALPA DE MORELOS
3  900005  Ciudad de México      GUSTAVO A. MADERO
4  900006  Ciudad de México              IZTACALCO

In [8]:
matrices = pathlib.Path('Matrices/')

In [20]:
tablas = []
for archivo in matrices.iterdir():
    if archivo.suffix != '.csv': continue
    tablas.append(pd.read_csv(archivo))
df = pd.concat(tablas)
df[:40]

,"(origen,destino)",900002,900003,900004,900005,900006,900007,900008,900009,900010,...,150057,150058,150060,150070,150081,150099,150104,150109,150121,150122
0,900002,3727,93,0,326,0,0,0.0,0.0,0,...,0,0,0.0,0.0,127.0,0.0,0,0.0,0.0,0
1,900003,153,2144,33,135,116,429,0.0,0.0,0,...,107,570,0.0,264.0,0.0,0.0,0,0.0,0.0,98
2,900004,0,33,84,0,0,84,0.0,0.0,184,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0
3,900005,484,0,0,6408,0,0,0.0,0.0,0,...,92,514,0.0,0.0,0.0,83.0,174,0.0,0.0,0
4,900006,0,116,0,0,362,105,0.0,0.0,0,...,0,724,0.0,104.0,84.0,0.0,0,0.0,0.0,0
5,900007,0,92,84,0,0,8973,0.0,0.0,105,...,0,962,0.0,92.0,0.0,0.0,0,0.0,0.0,338
6,900008,0,0,0,0,0,0,198.0,0.0,0,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0
7,900009,0,0,0,0,0,0,0.0,350.0,0,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0
8,900010,0,0,0,0,0,105,79.0,0.0,1166,...,0,77,0.0,232.0,0.0,0.0,0,0.0,0.0,0
9,900011,0,1047,91,149,0,2741,0.0,206.0,226,...,95,104,0.0,0.0,0.0,0.0,0,83.0,0.0,475
10,900012,0,234,0,0,0,0,0.0,0.0,0,...,0,115,0.0,0.0,0.0,0.0,0,0.0,0.0,0
11,900013,0,509,0,71,0,447,0.0,108.0,0,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0
12,900014,0,0,0,0,0,96,0.0,0.0,0,...,0,107,0.0,0.0,0.0,0.0,0,0.0,0.0,98
13,900015,113,261,0,95,0,722,0.0,0.0,0,...,0,243,0.0,532.0,0.0,0.0,0,133.0,0.0,0
14,900016,0,0,0,0,0,0,0.0,0.0,0,...,173,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0
15,900017,0,60,0,76,62,254,0.0,0.0,109,...,0,555,0.0,132.0,0.0,0.0,0,0.0,0.0,132
16,150020,0,0,0,0,0,0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0.0,0,331.0,95.0,0
17,150024,0,0,0,0,0,0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0.0,0,117.0,96.0,0
18,150025,0,0,0,0,75,32,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,497
19,150031,0,61,0,218,133,358,0.0,0.0,133,...,0,2152,0.0,1084.0,0.0,109.0,111,0.0,0.0,111
20,150033,105,222,92,674,0,0,93.0,0.0,0,...,0,253,0.0,0.0,210.0,53.0,0,386.0,0.0,0
21,150037,0,0,0,0,0,0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0
22,150039,0,175,45,298,0,244,384.0,0.0,133,...,0,40,0.0,193.0,0.0,0.0,0,0.0,0.0,459
23,150057,0,0,154,92,0,0,0.0,0.0,0,...,748,0,0.0,0.0,0.0,0.0,240,0.0,0.0,0
24,150058,267,457,0,860,811,1773,0.0,0.0,77,...,0,17308,0.0,1924.0,56.0,67.0,0,0.0,0.0,115
25,150060,0,0,0,0,0,0,0.0,0.0,0,...,0,0,992.0,0.0,0.0,0.0,0,0.0,0.0,0
26,150081,127,0,0,0,84,0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0
27,150099,0,0,0,0,0,92,0.0,0.0,0,...,0,67,0.0,0.0,0.0,918.0,0,0.0,90.0,0
28,150104,0,0,0,90,0,0,0.0,0.0,0,...,240,57,0.0,0.0,0.0,0.0,430,215.0,0.0,0
29,150109,0,0,0,115,0,0,0.0,0.0,0,...,130,0,0.0,0.0,0.0,0.0,215,7348.0,391.0,0
30,150121,0,0,0,0,0,0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,90.0,0,241.0,1969.0,0
31,150122,0,98,0,0,0,271,0.0,0.0,0,...,0,115,0.0,0.0,0.0,0.0,0,0.0,0.0,14351
32,150029,0,0,0,0,0,93,0.0,0.0,0,...,75,0,0.0,138.0,0.0,0.0,0,0.0,0.0,0
33,150070,0,132,0,193,0,0,0.0,0.0,0,...,0,641,0.0,4820.0,0.0,0.0,0,0.0,0.0,0
0,900002,469261,30943,9991,140391,8377,35624,1909.0,0.0,31884,...,53168,24297,11206.0,5974.0,12913.0,1545.0,80288,36237.0,22917.0,5670
1,900003,29721,882941,13387,68630,40525,263482,51464.0,19014.0,121977,...,20049,58077,2693.0,8966.0,12887.0,5745.0,13734,11204.0,4514.0,9516
2,900004,9278,12784,298598,13406,6575,14829,3633.0,1018.0,101222,...,17432,8449,345.0,3116.0,1396.0,508.0,5837,3175.0,1785.0,4224
3,900005,140063,71369,12988,1670023,30961,70116,3457.0,875.0,36640,...,30664,125902,7203.0,7123.0,34643.0,6734.0,134063,26998.0,22936.0,11050
4,900006,8765,40210,6660,30096,358846,203967,1915.0,145.0,23863,...,7992,76882,890.0,9739.0,4997.0,1254.0,4680,4327.0,4085.0,9138
5,900007,35595,258348,14019,72758,200449,2823626,11533.0,13274.0,80260,...,14924,165117,346.0,66453.0,5501.0,6674.0,10816,7071.0,9997.0,40527

In [15]:
df.columns

Index(['(origen,destino)', '900002', '900003', '900004', '900005', '900006',
       '900007', '900008', '900009', '900010', '900011', '900012', '900013',
       '900014', '900015', '900016', '900017', '150020', '150024', '150025',
       '150029', '150031', '150033', '150037', '150039', '150057', '150058',
       '150060', '150070', '150081', '150099', '150104', '150109', '150121',
       '150122'],
      dtype='object')